{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>REGEPI</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  
  <!-- Description and keywords -->
  <meta name="keywords" content="REGEPI, Gestão Pública, Piauí, Compliance">
  <meta name="description" content="O REGEPI é um espaço de discussão com o intuito de criar um intercâmbio de ideias, opiniões, experiências e visões acerca de uma gestão pública com maior qualidade e eficiência.">

  <!-- Favicons -->
  <link href="{% static 'core/img/favicon1.png' %}" rel="icon">
  <link href="{% static 'core/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <!-- <link rel="stylesheet" href="{% static 'core/css/bootstrap.css' %}"> -->
  <link href="{% static 'core/lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'core/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/lib/owlcarousel/assets/owl.theme.default.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'core/lib/modal-video/css/modal-video.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'core/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: eStartup
    Theme URL: https://bootstrapmade.com/estartup-bootstrap-landing-page-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <header id="header" class="header header-hide">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="{% url 'core:home' %}">
          <img src="{% static 'core/img/logo1.png' %}" ago_frontlt="COLAC">
        </a>
        <!-- <h1><a href="#body" class="scrollto"><span>e</span>Startup</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="#body"><img src="{% static 'core/img/logo.png' %}" alt="" title="" /></a>-->
      </div>

      {% block menu %}
        <nav id="nav-menu-container">
          <ul class="nav-menu">
            <li class="menu-active"><a href="#hero">Home</a></li>
            <li><a href="#about-us">Sobre o evento</a></li>
            <li><a href="#who-we-are">Quem Somos</a></li>
            <li><a href="#subscription">Inscrição</a></li>
            <li><a href="#submissao-trabalhos">Trabalhos</a></li>
            <li><a href="#get-started">Palestrantes</a></li>
            <li><a href="#schedule">Programação</a></li>
            <li><a href="#newsletter">Contato</a></li>
            <li><a href="#mapa">Mapa</a></li>
            <li><a href="http://www.ppgp.ufpi.br/" target="_blank">REGEPI 2018</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->
      {% endblock %}
    </div>
  </header><!-- #header -->

  <!--==========================
    Block Body
  ============================-->
  {% block body %} {% endblock %}

  <!--==========================
    Newsletter Section
  ============================-->
  <section id="newsletter" class="newsletter text-center wow">
    <div class="overlay padd-section">
      <div class="container section-title newsletter-title text-center">

        <h2>Contatos </h2>

        <ul class="list-unstyled">
          <li><a href="mailto:forumdegestaopublica@ufpi.edu.br" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>

      </div>
    </div>
  </section>

  <!--==========================
    Footer
  ============================-->
  <footer class="footer" id='mapa'>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="footer-logo">
            <p>Organização</p>
            <div class="row justify-content-center">
              <img src="https://i.imgur.com/Qqx8wlA.png" ago_frontlt="Universidade Federal do Piauí" style="height: 100px">
              <img src="https://i.imgur.com/DvlQLHI.png" ago_frontlt="PPGP" style="height: 100px">
              <!-- https://i.imgur.com/nGoliKp.png -->
            </div>
            <br />
            <!-- <img src="{% static 'core/img/logo.png' %}" ago_frontlt="COLAC"> -->
            <!-- <a class="navbar-brand" href="#">eStartup</a> -->
          </div>
        </div>

        <div class="col-md-6 col-lg-6">
          <div class="footer-logo">
            <p>Apoio</p>
            <div class="row justify-content-center" style="align-items: center">
              <div>
                <img src="https://i.imgur.com/UonIYBt.png" ago_frontlt="CRA-PI" style="height: 90px">
                <img src="https://i.imgur.com/W1PR5iH.png" ago_frontlt="EMBRAPA" style="height: 50px">
                <img src="https://i.imgur.com/4kX6tXZ.png" ago_frontlt="CGU" style="height: 76px">
              </div>
              <div>
                <img src="https://i.imgur.com/HW8Q8bW.png" ago_frontlt="TCU" style="height: 80px">
                <img src="https://i.imgur.com/H6K6Fyw.png" ago_frontlt="Ministério da Fazenda" style="height: 50px">
              </div>
              <!-- https://i.imgur.com/yXilw2K.png -->
              
              <!-- https://i.imgur.com/j5fEnmo.png -->
              <!-- https://i.imgur.com/U9hxHgf.png -->
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-md-6 col-lg-6">
          <div class="footer-logo">
            <p>Mapa</p>
            <br />
            <div class="container-fluid">
              <div class="row">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3974.2836491697135!2d-42.79967728464082!3d-5.057700596328983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x78e3977df8aa797%3A0xb4bd89b68e5e57c8!2sCentro+de+Ci%C3%AAncias+Humanas+e+Letras+-+CCHL%2FUFPI!5e0!3m2!1spt-BR!2sbr!4v1529795995837" class="well well-sm cols-xs-12" width="680" height="450" frameborder="0" style="border:0" allowfullscreen="">
                </iframe>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6">
          <div class="footer-logo">
            <p>Nossas Redes Sociais</p>
            <p>
              <i class="fa fa-instagram"></i> <strong>Instagram:</strong> <a href="https://www.instagram.com/regepippgp/" style="color: white">@regepippgp </a>
            </p>
          </div>
        </div>
    </div>
  </div>
  <div class="copyrights">
    <div class="container">
      <p class="text-center">&copy; Copyrights <i class="fa fa-cogs"></i> STI-UFPI. Direitos Reservados.</p>
      <div class="credits">
        <!--
          All the links in the footer should remain intact.
          You can delete the links only if you purchased the pro version.
          Licensing information: https://bootstrapmade.com/license/
          Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=eStartup
        -->
        Template <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
      </div>
    </div>
  </div>

  </footer>



  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'core/lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'core/lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'core/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'core/lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'core/lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'core/lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'core/lib/modal-video/js/modal-video.js' %}"></script>
  <script src="{% static 'core/lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'core/lib/wow/wow.min.js' %}"></script>
  <!-- Template Main Javascript File -->
  <script src="{% static 'core/js/main.js' %}"></script>

</body>
</html>
