{% extends 'core/base.html' %}
{% load staticfiles %}
{% block title %} COLAC {% endblock %}

{% block body %} 

	<section id="hero" class="wow fadeIn">
		<div class="hero-container">
			<h1>Fórum da Rede de Gestão Pública do Piauí</h1>
			<h2>Ano 2019 - 2ª Edição</h2>
			<img src="{% static 'core/img/logo_front.png' %}"  width="700" height="300" ago_frontlt="COLAC">
			<!-- <a href="#get-started" class="btn-get-started scrollto">Get Started</a> -->
			<div class="btns">
				<a href="#"><i class="fa fa-calendar fa-3x"></i> 2, 3 e 4 de outubro de 2019 | UFPI</a>
			</div>
		</div>
	</section>

	<section id="about-us" class="about-us padd-section wow fadeInUp">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-5 col-lg-5">
					<img src="{% static 'core/img/sobre.png' %}" alt="Sobre o Evento">
				</div>
				<div class="col-md-7 col-lg-7">
					<div class="about-content">

						<h2>Sobre o REGEPI </h2>
						<p class="about">
            O Fórum da Rede de Gestão Pública do Piauí – REGEPI é um espaço de discussão entre gestores e servidores públicos, pesquisadores, docentes e discentes de cursos de pós-graduação e graduação, com o intuito de criar um intercâmbio de ideias, opiniões, experiências e visões acerca de uma gestão pública com maior qualidade e eficiência.
						</p>
						<p class="about">
						O evento traz como tema “Compliance na Gestão Pública” e será realizado nos dias 02, 03 e 04 de outubro de 2019, na Universidade Federal do Piauí, através do Programa de Pós-Graduação em Gestão Pública. Por Compliance entende-se estar em conformidade com leis e regulamentos, sejam eles internos ou externos, garantindo a legalidade e transparência na função pública.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

  <section id="who-we-are" class="about-us padd-section wow fadeInUp">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-7">
          <div class="about-content">

            <h2>Quem Somos </h2>
            <p class="about">
                A Rede de Gestão Pública do Piauí é constituída pela Universidade Federal do Piauí, Controladoria Geral da União, Tribunal de Contas da União, Embrapa Meio Norte, Ministério da Fazenda e Conselho Regional de Administração, com o apoio da Empresa Brasileira de Serviços Hospitalares.
            </p>

            <h2>Comissão Organizadora</h2>
            <ul>
            <li>Profa. Dra. Fabiana Rodrigues de Almeida Castro (Docente no Programa de Pós Graduação em Gestão Pública)</li>
            <li>Prof. Dr. Alexandre Rabêlo Neto (Docente no Programa de Pós Graduação em Gestão Pública</li>
            <li>Dr. José Oscar Lustosa de Oliveira Junior (EMBRAPA Meio Norte)</li>
            <li>Dr. Bruno Herbert de Almeida Nunes (Ministério da Fazenda)</li>
            <li>Maria da Conceição Angélica Santos (Controladoria Geral da União)</li>
            <li>Prof. Dr. Victor Eduardo Veras Sandes Freiras (Docente no Programa de Pós Graduação em Gestão Pública)</li>
            <li>Adm. Rodrigo Ribeiro Costa Cavalcante (Servidor e Chefe do Núcleo de Administração da Gerência Regional da ANM no Piauí)</li>
            <li>Msc. Joésia Saibrosa da Silva (Mestre em Gestão Pública - UFPI)</li>
            <li>Adm. Aluysio Ricardo Nunes Fonseca (Discente do Mestrado em Gestão Pública)</li>
            </ul>

          </div>
        </div>
          
        <div class="col-md-5 col-lg-5">
          <img src="{% static 'core/img/quem_somos.png' %}" width="300" height="300" alt="Quem Somos">
        </div>

      </div>

      <div class="about-content">
        <h2>Comissão Científica</h2>
        <div class="row justify-content-center">
          <div class="col">
            <ul>
              <li>Prof. Dr. Alexandre Rabêlo Neto</li>
              <li>Prof. Dr. Francisco Mesquita de Oliveira</li>
              <li>Prof. Dr. Denis Barros de Carvalho</li>
              <li>Prof. Dr. Carlos Antônio Mendes de Carvalho Buenos Ayres</li>
              <li>Profa. Dra. Maria Fernanda Brito do Amaral</li>
              <li>Profa. Dra. Adriana Castelo Branco de Siqueira</li>
              <li>Prof. Dr. João Carlos Hipólito Bernardes do Nascimento</li>
              <li>Prof. Dr. Nelson Nery Costa</li>
              <li>Prof. Dr. Raimundo Batista dos Santos Júnior</li>
              <li>Profa. Dr(a) Monique Menezes</li>
            </ul>
          </div>
          <div class="col">
            <ul>
              <li>Prof. Dr. Antonio Fonseca dos Santos Neto</li>
              <li>Prof. Dr. Eulálio Gomes Campelo Filho</li>
              <li>Profa. Dra. Maria Sueli Rodrigues de Sousa</li>
              <li>Prof. Dr. Samuel Costa Filho</li>
              <li>Prof. Dr. Marco Aurélio Lustosa Caminha</li>
              <li>Prof. Dr. Ricardo Alággio Ribeiro</li>
              <li>Prof. Dr. Valtemar de Andrade Braga</li>
              <li>Profa. Dra. Flávia Lorenne Sampaio Barbosa</li>
              <li>Profa. Dra. Fabiana Rodrigues de Almeida Castro</li>
              <li>Profa. Dra. Shaiane Vargas da Silveira</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="video" class="text-center wow fadeInUp" style="background: none">
    <div class="overlay">
      <div class="container-fluid container-full section-title text-center">
    		<div class="col-md-12 col-lg-12">
    			<h2>Inscrição </h2>
    			<p>As inscrições podem ser feitas por meio do link abaixo.</p>

    			<a href="https://docs.google.com/forms/d/e/1FAIpQLScryF6W0mR6Kk-0ipXDDkA_-NwFnI-QE7jjWR4sHnkoidRhHQ/viewform?usp=sf_link" target="_blank" class="btn-get-started scrollto">Inscrição e Submissão</a>
    		</div>
      </div>
    </div>
  </section>

  <section id="get-started" class="padd-section text-center wow fadeInUp">
    <div class="container">
      <div class="section-title text-center">
        <h2>Palestrantes e Convidados</h2>
        <div class="row">
          <div class="col">
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/uLWVDwM.jpg" alt="Profa. Dra. Oderlene Vieira de Oliveira" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Profa. Dra. Oderlene Vieira de Oliveira</strong> 
                  <p>(Professora da UNIFOR; Doutora em Administração de empresas (UNIFOR); Mestre em Administração de Empresas (UNIFOR); Bacharel em Ciências Contábeis (UNIFOR); Bacharel em Administração de Empresas (UNIFOR))</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/sEYivsU.jpg" alt="Profa. Dra. Susana Margarida Faustino Jorge" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Profa. Dra. Susana Margarida Faustino Jorge</strong> 
                  <p>(Coordenadora do BSC em Gestão, na Faculdade de Economia da Universidade de Coimbra); Phd. em Contabilidade e Finanças (Birminghan Business School-Inglaterra); Mestre em Gestão de Negócios (Universidade do Minho-Portugal); Licenciada em Gestão e Organização Empresarial (Universidade Coimbra-Portugal).</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/PJxJuBg.png" alt="Flávia de Oliveira Rapozo" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Flávia de Oliveira Rapozo</strong> 
                  <p>(Sócia fundadora da D&R Gerencial. Doutoranda em Ciências Contábeis (FUCAPE/ES); Mestre em Contabilidade Gerencial pela FUCAPE (ES). Graduada em Contabilidade pela UNIFESO - Universidade Serra dos Órgãos (RJ)).</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/CvFCSpD.jpg" alt="Prof. Dr. Ricardo de Andrade Lira Rabelo" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Prof. Dr. Ricardo de Andrade Lira Rabelo</strong> 
                  <p>(Professor da UFPI; Doutor em Engenharia
                  Elétrica (USP); Bacharel em Ciência da Computação (UFPI))</p> 
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/8g8sTmq.jpg" alt="Alan Soares Viana" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Auditor Alan Soares Viana</strong> 
                  <p>(Auditor Governamental; Gerente de Tecnologia da Informação da Controladoria Geral do Piauí; Bacharel em Ciência da Computação (UFPI))</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/gRY60Hv.jpg" alt="Adm. Aluysio Ricardo Nunes Fonseca" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Adm. Aluysio Ricardo Nunes Fonseca</strong> 
                  <p>(Administrador e Profissional Liberal; Mestrando em Gestão Pública (UFPI); Especialista em Gestão Pública (IFMA); Especialista em MBA Governança Tributária
                  (IBPT); Bacharel em Administração (UNIFSA); Bacharel em Sistemas de Informação (UFPI)).</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/ypUuXLr.jpg" alt="Adm. Rhubens Ewald Moura Ribeiro" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Adm. Rhubens Ewald Moura Ribeiro</strong> 
                  <p>(Administrador da UFPI; Professor da Faculdade Santo Agostinho; Mestre em Administração (UFPE); Bacharel em Administração (UFPE))</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/tpuibmo.jpg" alt="Prof. Dr. Paulo Henrique Gomes de Lima" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Prof. Dr. Paulo Henrique Gomes de Lima</strong> 
                  <p>(Reitor do Instituto Federal do Piauí (IFPI); Doutor em Geografia (UNESP); Mestre em Desenvolvimento Urbano (UFPE); Especialista em Avaliação Educacional (UFPI); Bacharel em Engenharia de Agrimensura (UFPI).</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/Dzj36UU.jpg" alt="Prof. Dr. Vitor Eduardo Veras de Sandes Feitas" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Prof. Dr. Vitor Eduardo Veras de Sandes Freitas</strong> 
                  <p>(Professor da UFPI; Doutor em Ciência
                  Política (UNICAMP); Mestre em Ciência Política (UFPI); Bacharel em Ciências Sociais (UFPI))</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/UAq9Ri6.jpg" alt="Leonino Gomes Rocha" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Auditor Leonino Gomes Rocha</strong> 
                  <p>(Auditor Federal de Finanças e Controle e Coordenador do Núcleo de Ações de Ouvidoria e Prevenção da Controladoria-Geral da União-Regional/CE; Doutorando em Estado de Direito e Governança Global; Mestre em Administração; Especialista em Controladoria Governamental; Graduado em Engenharia Elétrica (UFC))</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/Z5GpnLe.jpg" alt="Prof. Dr(a). Monique Menezes" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Profa. Dra. Monique Menezes</strong> 
                  <p>(Secretária Municipal da Secretaria Municipal de Concessões e Parcerias
                  da Prefeitura de Teresina; Professora da UFPI; Doutora em Ciência Política (IUPER); Mestre em Ciência Política (IUPER); MBA Public – Private Partnerships Work: Challenges & Opportunities (London School of Economics and Political Sciense); Bacharel em Ciências Sociais (UFF)).</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/YJkYzFr.png" alt="Auditor Luís Emílio Xavier dos Passos" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Auditor Luís Emílio Xavier dos Passos (Tribunal de Contas da União)</strong> 
                  <p>Secretário do TCU/PI; Diretor da Secretaria de Controle Externo do TCU no Estado do Piauí; Assessor da Secretaria de Controle Externo do TCU no Estado do Piauí; Auditor Federal de Controle Externo do Tribunal de Contas da União; Graduado em Engenharia Civil – Universidade de Brasília.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/iUoalEF.jpg" alt="João Batista Ribas de Moura" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>João Batista Ribas de Moura</strong> 
                  <p>(Coordenador da Secretaria Especial de Desburocratização e Desestatização em Governo Digital; Analista da Receita; Mestre em Computação Aplicada em Gestão de Risco(UNB); Especialista em Gestão de Segurança da Informação e Comunicações (UNB); e MBA em Administração Estratégica de Sistemas de Informação (FGV))</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/tqJx64q.jpg" alt="Dr. Edilson Correia Alves Lima" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Dr. Edilson Correia Alves Lima</strong>
                  <p>(Auditor Federal de Finanças e Controle da CGU/UFPI; Doutor em Políticas Públicas; Mestre em Políticas Públicas; Graduado em Ciências Sociais)</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/Dm6UfwQ.jpg" alt="Adm. Rodrigo Ribeiro Costa Cavalcante" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Adm. Rodrigo Ribeiro Costa Cavalcante</strong> 
                  <p>(Servidor e Chefe do Núcleo de Administração da Gerência Regional da ANM no Piauí; Mestrando em Administração (FUCAPE); Especialista em Gestão Empresarial (CESVALE); Especialista em Gestão Estratégica em Processo de Negócios (PUC)).</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/XEFR1um.jpg" alt="Prof. Dr. Francisco Mesquita de Oliveira" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Prof. Dr. Francisco Mesquita de Oliveira</strong> 
                  <p>(Professor da UFPI; Doutor em Sociologia
                  (UFPE); Mestre em Ciência Política (UFPE); Licenciado em História (UNICAP))</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/3lYy4M3.jpg" alt="Prof. Nouga Cardoso Batista" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Prof. Dr. Nouga Cardoso Batista</strong> 
                  <p>(Reitor da Universidade Estadual do Piauí
                  (UESPI); Doutorado em Química (USP); Mestre em Química (USP);e Licenciado em Ciências (UFPI).</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/2xTGhlV.jpg" alt="Márcio Rodrigo de Araújo Souza" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Auditor Márcio Rodrigo de Araújo Souza</strong>
                  <p>(Auditor Governamental na Controladoria-Geral do Estado do Piauí; Gerente de Controle Interno; Mestre em Ciência Política e Especialista em Gestão Pública (UFPI); Especialista em Orçamento e Contabilidade Pública (CEUT) e Bacharel em Ciências Contábeis (UESC).</p> 
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="https://i.imgur.com/9zurYMc.jpg" alt="Fernando de Barros Filgueiras" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Prof. Dr. Fernando de Barros Filgueiras</strong>
                  <p>Professor da UFMG; Diretor de Pesquisa e Pós-Graduação Stricto Sensu da Escola Nacional de Administração Pública (ENAP); Doutor em Ciência Política (IUPERJ); Mestre em Ciência Política (IUPERJ); Graduado em Ciências Sociais (UFJF)</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="schedule" class="text-center wow fadeInUp" style="background-color: #dcdcdc">
    <div class="container">
      <div class="container-fluid container-full section-title text-center">
        <div class="row">
          <div class="col">
            <h2>Quarta-Feira (02.10)</h2>
            <strong>AUDITÓRIO DO CT</strong>
            <br />
            <br />
            <li>16h às 19h – Credenciamento</li>
            <li>18h – Abertura do Evento</li>
            <li>19h às 20h – Palestra de Abertura</li>
            <p>Palestra: Compliance na Gestão Pública: desafios e reflexões</p>
          </div>

          <div class="col">
            <h2>Quinta-Feira (03.10)</h2>
            <strong>Manhã (HU): 8h às 10h – Mesa Temática</strong>
            <br />
            <strong>Local: Auditório do Hospital Veterinário (HU)</strong>
            <li>MESA 01: Controle Interno e Externo</li>
            
            <br />
            <strong>10h às 10:30h - Intervalo</strong>
            <br />
            <br />

            <strong>Manhã (HU): 10:30h às 12:30h – Mesa Temática</strong>
            <br />
            <strong>Local: Auditório do Hospital Veterinário (HU)</strong>
            <li>MESA 02: Compliance Digital</li>

            <br />
            <strong>12:30h às 14h – Almoço</strong>
            <br />
            <br />

            <strong>Tarde (CCHL) - 14h às 18h – Mini Cursos (Simultâneos)</strong>
            <br />
            <strong>Local: CCHL, Salas: a definir</strong>
            <li>1. AVALIAÇÃO DA MATURIDADE DOS PROGRAMAS DE COMPLIANCE</li>

            <li>2. BALANCED SCORECARD A SERVIÇO DA GESTÃO PÚBLICA</li>

          </div>

          <div class="col">
            <h2>Sexta-Feira (04.10)</h2>
            <strong>Manhã (CCHL) - 8h às 10h – Apresentação de Trabalhos e Mini Curso (Simultâneos)</strong>
            <br />
            <strong>Salas: a definir</strong>

            <li>1. ELABORAÇÃO DO PLANO DE COMPLIANCE</li>
            <li>Apresentação de Trabalhos – Comunicação Oral (6 salas com 5 trabalhos);</li>
            
            <br />
            <strong>10h às 10:30h - Intervalo</strong>
            <br />
            <br />
            
            <strong>Manhã (CCHL) - 10:30h às 12:30h – Mesa Temática</strong>
            <br />
            <strong>Local: a definir</strong>
            <li>MESA 03 – Governança Ética e Responsabilidade Social</li>

            <br />
            <strong>12h30min às 14h30min – Almoço</strong>
            <br />
            <br />

            <strong>Tarde (CCHL) – 14h30min às 16h30min - Mesas Temáticas Simultâneas</strong>
            <li>MESA 04 – Compliance Público e Responsabilidade do Gestor</li>

            <br />
            <strong>16h30min às 17h - Intervalo</strong>
            <br />
            <br />

            <li>17h às 18h- Palestra de Encerramento</li>
            <p>Tema: Compliance e Gestão Pública no Século XXI.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}