{% extends 'core/base.html' %}
{% load staticfiles %}
{% block title %} COLAC {% endblock %}

{% block body %} 
	
	<!--==========================
	Hero Section
	============================-->
	<section id="hero" class="wow fadeIn">
		<div class="hero-container">
			<h1>Fórum da Rede de Gestão Pública do Piauí</h1>
			<h2>Ano 2019 - 2ª Edição</h2>
			<img src="{% static 'core/img/logo_front.png' %}"  width="700" height="300" ago_frontlt="COLAC">
			<!-- <a href="#get-started" class="btn-get-started scrollto">Get Started</a> -->
			<div class="btns">
				<a href="#"><i class="fa fa-calendar fa-3x"></i> 2, 3 e 4 de outubro de 2019 | UFPI</a>
			</div>
		</div>
	</section><!-- #hero -->

  <!--==========================
    About Us Section
  ============================-->
	<section id="about-us" class="about-us padd-section wow fadeInUp">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-5 col-lg-5">
					<img src="{% static 'core/img/sobre.png' %}" alt="Sobre o Evento">
				</div>
				<div class="col-md-7 col-lg-7">
					<div class="about-content">

						<h2>Sobre o REGEPI </h2>
						<p class="about">
            O Fórum da Rede de Gestão Pública do Piauí – REGEPI é um espaço de discussão entre gestores e servidores públicos, pesquisadores, docentes e discentes de cursos de pós-graduação e graduação, com o intuito de criar um intercâmbio de ideias, opiniões, experiências e visões acerca de uma gestão pública com maior qualidade e eficiência.
						</p>
						<p class="about">
						O evento traz como tema “Compliance na Gestão Pública” e será realizado nos dias 02, 03 e 04 de outubro de 2019, na Universidade Federal do Piauí, através do Programa de Pós-Graduação em Gestão Pública. Por Compliance entende-se estar em conformidade com leis e regulamentos, sejam eles internos ou externos, garantindo a legalidade e transparência na função pública.
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>

  <!--==========================
    Quem Somos Section
  ============================-->

  <section id="who-we-are" class="about-us padd-section wow fadeInUp">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 col-lg-7">
          <div class="about-content">

            <h2>Quem Somos </h2>
            <p class="about">
                A Rede de Gestão Pública do Piauí é constituída pela Universidade Federal do Piauí, Controladoria Geral da União, Tribunal de Contas da União, Embrapa Meio Norte, Ministério da Fazenda e Conselho Regional de Administração, com o apoio da Empresa Brasileira de Serviços Hospitalares, com o intuito de criar um intercâmbio de ideias, opiniões, experiências e visões acerca da gestão pública, perseguindo uma maior qualidade e eficiência de seus serviços.
            </p>

            <h2>Comissão Organizadora</h2>
            <ul>
            <li>Prof (a). Dr(a). Fabiana Rodrigues de Almeida Castro (Docente no Programa de Pós Graduação Gestão Pública)</li>
            <li>Dr. José Oscar Lustosa de Oliveira Junior (EMBRAPA Meio Norte)</li>
            <li>Dr. Bruno Herbert de Almeida Nunes (Ministério da Fazenda)</li>
            <li>Maria da Conceição Angélica Santos (Controladoria Geral da União)</li>
            <li>Prof. Dr. Victor Eduardo Veras de Sandes Freiras (Docente no Programa de Pós Graduação Gestão Pública)</li>
            <li>Rodrigo Ribeiro Costa Cavalcante (Servidor e Chefe do Núcleo de Administração da Gerência Regional da ANM no Piauí</li>
            <li>Msc. Joésia Saibrosa da Silva  (Discente do Mestrado em Gestão Pública)</li>
            <li>Aluysio Ricardo Nunes Fonseca (Discente do Mestrado em Gestão Pública)</li>
            </ul>

          </div>
        </div>
          
        <div class="col-md-5 col-lg-5">
          <img src="{% static 'core/img/quem_somos.png' %}" width="300" height="300" alt="Quem Somos">
        </div>

      </div>

      <div class="about-content">
        <h2>Comissão Científica</h2>
        <div class="row justify-content-center">
          <div class="col">
            <ul>
              <li>Prof. Dr. Alexandre Rabêlo Neto</li>
              <li>Prof. Dr. Francisco Mesquita de Oliveira</li>
              <li>Prof. Dr. Denis Barros de Carvalho</li>
              <li>Prof. Dr. Carlos Antônio Mendes de Carvalho Buenos Ayres</li>
              <li>Profa. Dra. Maria Fernanda Brito do Amaral</li>
              <li>Profa. Dra. Adriana Castelo Branco de Siqueira</li>
              <li>Prof. Dr. João Carlos Hipólito Bernardes do Nascimento</li>
              <li>Prof. Dr. Nelson Nery Costa</li>
              <li>Prof. Dr. Raimundo Batista dos Santos Júnior</li>
              <li>Profa. Dr(a) Monique Menezes</li>
            </ul>
          </div>
          <div class="col">
            <ul>
              <li>Prof. Dr. Antonio Fonseca dos Santos Neto</li>
              <li>Prof. Dr. Eulálio Gomes Campelo Filho</li>
              <li>Profa. Dra. Maria Sueli Rodrigues de Sousa</li>
              <li>Prof. Dr. Samuel Costa Filho</li>
              <li>Prof. Dr. Marco Aurélio Lustosa Caminha</li>
              <li>Prof. Dr. Ricardo Alággio Ribeiro</li>
              <li>Prof. Dr. Valtemar de Andrade Braga</li>
              <li>Profa. Dra. Flávia Lorenne Sampaio Barbosa</li>
              <li>Profa. Dra. Fabiana Rodrigues de Almeida Castro</li>
              <li>Profa. Dra. Shaiane Vargas da Silveira</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--==========================
    Video Section
  ============================-->

  <section id="video" class="text-center wow fadeInUp" style="background: none">
    <div class="overlay">
      <div class="container-fluid container-full section-title text-center">

		<div class="col-md-12 col-lg-12">

			<h2>Inscrição </h2>
			<p>As inscrições e submissões de trabalhos para o evento serão através do site <strong>EventMaster</strong> e pode ser acessado clicando abaixo.</p>

			<a href="https://eventmaster.com.br/event/vicolac/site/content/inicio" target="_blank" class="btn-get-started scrollto">Inscrição e Submissão</a>

		</div>

      </div>
    </div>
  </section>


  <!--==========================
    Get Started Section
  ============================-->
  <section id="get-started" class="padd-section text-center wow fadeInUp">

    <!-- <div class="container">
      <div class="section-title text-center">

        <h2>Público Alvo </h2>
        <p class="separator">Estudantes e profissionais que compõem o principal público do REGEPI.</p>
      </div>

      <div class="container">
        <div class="section-title tex-center" name="palestrantes">
          <h2 style="font-size: 40px">Avaliação da Maturidade dos Programas de Compliance</h2>
          <img src="{% static 'core/img/palestrante.png' %}" alt="Ministrante: Flávia de Oliveira Rapozo" width=214 height=320>
          <br />
          <br />
            <p class="separator">Ministrante: Flávia de Oliveira Rapozo (Atua na área de Contabilidade há mais de 20 anos.
              Entre 2005 e 2009 atuou como Controller do Grupo Hortifruti, 
              uma das maiores redes de varejo de hortifrutigranjeiros do país. 
              Entre 2014 e 2018 foi Gestora da Controladoria do Grupo AEBES, responsável pela gestão do maior 
              hospital público do Espírito Santo. É sócia fundadora da D&R Gerencial, consultoria especializada 
              na área de integridade e compliance, incluindo a terceirização de Canal de Denúncias. Doutoranda 
              em Ciências Contábeis (FUCAPE/ES); Mestre em Contabilidade Gerencial pela FUCAPE (ES). Graduada em 
              Contabilidade pela UNIFESO - Universidade Serra dos Órgãos (RJ)). </p>
        </div>
      </div>
    </div> -->

    <div class="container">
      <div class="section-title text-center">
        <h2>Palestrantes e Convidados</h2>
        <div class="row">
          <div class="col">
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/ODERLENE.gif' %}" alt="Profa. Dra. Oderlene Vieira de Oliveira" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Profa. Dra. Oderlene Vieira de Oliveira</strong> 
                  <p>(Professora da UNIFOR; Doutora em Administração de empresas
                  (UNIFOR); Mestre em Administração de Empresas (UNIFOR); Bacharel em Ciências Contábeis
                  (UNIFOR); Bacharel em Administração de Empresas (UNIFOR))</p>
                  <strong>Palestra: Compliance na Gestão Pública: desafios e reflexões</strong> 
                </div>
              </div>
            </div>
            <br />
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/SUSANA JORGE.png' %}" alt="Profa. Dra. Susana Margarida Faustino Jorge" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Profa. Dra. Susana Margarida Faustino Jorge</strong> 
                  <p>(Coordenadora do BSC em Gestão, na Faculdade de Economia da Universidade de Coimbra); Phd. em Contabilidade e Finanças (Birminghan Business School-Inglaterra); Mestre em Gestão de Negócios (Universidade do Minho-Portugal); Licenciada em Gestão e Organização Empresarial (Universidade Coimbra-Portugal).</p>
                </div>
              </div>
            </div>
            <br />
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/Ricardo.jpg' %}" alt="Prof. Dr. Ricardo de Andrade Lira Rabelo" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Prof. Dr. Ricardo de Andrade Lira Rabelo</strong> 
                  <p>(Professor da UFPI; Doutor em Engenharia
                  Elétrica (USP); Bacharel em Ciência da Computação (UFPI))</p>
                  <strong>Mediador: Mesa 02: Compliance Digital</strong> 
                </div>
              </div>
            </div>
            <br />
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/ODERLENE.gif' %}" alt="Alan Soares Viana" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Alan Soares Viana</strong> 
                  <p>(Auditor Governamental; Gerente de Tecnologia da Informação
                  da Controladoria Geral do Piauí; Bacharel em Ciência da Computação (UFPI))</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/ALUYSIO.gif' %}" alt="Adm. Aluysio Ricardo Nunes Fonseca" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Adm. Aluysio Ricardo Nunes Fonseca</strong> 
                  <p>(Administrador e Profissional Liberal; Mestrando em Gestão
                  Pública (UFPI); Especialista em Gestão Pública (IFMA); Especialista em MBA Governança Tributária
                  (IBPT); Bacharel em Administração (UNIFSA); Bacharel em Sistemas de Informação (UFPI)).</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/RHUBENS EWALD.gif' %}" alt="Adm. Rhubens Ewald Moura Ribeiro" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Adm. Rhubens Ewald Moura Ribeiro</strong> 
                  <p>(Administrador da UFPI; Professor da Faculdade Santo Agostinho; Mestre em Administração (UFPE); Bacharel em Administração (UFPE))</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/Paulo.png' %}" alt="Prof. Dr. Paulo Henrique Gomes de Lima" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Prof. Dr. Paulo Henrique Gomes de Lima</strong> 
                  <p>(Reitor do Instituto Federal do Piauí (IFPI); Doutor em
                  Geografia (UNESP); Mestre em Desenvolvimento Urbano (UFPE); Especialista em Avaliação
                  Educacional (UFPI); Bacharel em Engenharia de Agrimensura (UFPI).</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/Vitor.jpg' %}" alt="Prof. Dr. Vitor Eduardo Veras de Sandes Feitas" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Prof. Dr. Vitor Eduardo Veras de Sandes Feitas</strong> 
                  <p>(Professor da UFPI; Doutor em Ciência
                  Política (UNICAMP); Mestre em Ciência Política (UFPI); Bacharel em Ciências Sociais (UFPI))</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/Leonino.jpg' %}" alt="Leonino Gomes Rocha" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Leonino Gomes Rocha</strong> 
                  <p>(Auditor Federal de Finanças e Controle e Coordenador do Núcleo de Ações de Ouvidoria e Prevenção da Controladoria-Geral da União-Regional/CE; Doutorando em Estado de Direito e Governança Global; Mestre em Administração; Especialista em Controladoria Governamental; Graduado em Engenharia Elétrica (UFC))</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/Monique Menezes.png' %}" alt="Prof. Dr(a). Monique Menezes" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Prof. Dr(a). Monique Menezes</strong> 
                  <p>(Secretária Municipal da Secretaria Municipal de Concessões e Parcerias
                  da Prefeitura de Teresina; Professora da UFPI; Doutora em Ciência Política (IUPER); Mestre em Ciência Política (IUPER); MBA Public – Private Partnerships Work: Challenges & Opportunities (London School of Economics and Political Sciense); Bacharel em Ciências Sociais (UFF)).</p>
                  <strong>Mediadora: Mesa 01: Controle Interno e Externo</strong> 
                </div>
              </div>
            </div>
            <br />
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/ODERLENE.gif' %}" alt="Auditor Luís Emílio Xavier dos Passos" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Auditor Luís Emílio Xavier dos Passos (Auditor do Tribunal de Contas da União)</strong> 
                  <p>Secretário do TCU/PI ; Diretor da Secretaria de Controle Externo do TCU no Estado do Piauí, de 2/2008 a 12/2014; Assessor da Secretaria de Controle Externo do TCU no Estado do Piauí, de 4/2007 a 1/2008; Auditor Federal de Controle Externo do Tribunal de Contas da União, desde 12/2005; Engenheiro do Departamento Nacional de Infraestrutura de Transportes – Dnit, de 12/1995 a 12/2005; Graduado em Engenharia Civil – Universidade de Brasília, 1993.</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/Joao.jpg' %}" alt="João Batista Ribas de Moura" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>João Batista Ribas de Moura</strong> 
                  <p>(Coordenador da Secretaria Especial de Desburocratização e Desestatização em Governo Digital; Analista da Receita; Mestre em Computação Aplicada em Gestão de Risco(UNB); Especialista em Gestão de Segurança da Informação e Comunicações (UNB); e MBA em Administração Estratégica de Sistemas de Informação (FGV))</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/EDILSON CORREIA.gif' %}" alt="Dr. Edilson Correia Alves Lima" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Dr. Edilson Correia Alves Lima</strong>
                  <p>(Auditor Federal de Finanças e Controle da CGU/UFPI; Doutor em Políticas Públicas; Mestre em Políticas Públicas; Graduado em Ciências Sociais)</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/RODRIGO RIBEIRO.gif' %}" alt="Adm. Rodrigo Ribeiro Costa Cavalcante" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Adm. Rodrigo Ribeiro Costa Cavalcante</strong> 
                  <p>(Servidor e Chefe do Núcleo de Administração da Gerência Regional da ANM no Piauí; Mestrando em Administração (FUCAPE); Especialista em Gestão Empresarial (CESVALE); Especialista em Gestão Estratégica em Processo de Negócios (PUC)).</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/MESQUITA.gif' %}" alt="Prof. Dr. Francisco Mesquita de Oliveira" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Prof. Dr. Francisco Mesquita de Oliveira</strong> 
                  <p>(Professor da UFPI; Doutor em Sociologia
                  (UFPE); Mestre em Ciência Política (UFPE); Licenciado em História (UNICAP))</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/Nouga.jpg' %}" alt="Prof. Nouga Cardoso Batista" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Prof. Nouga Cardoso Batista</strong> 
                  <p>(Reitor da Universidade Estadual do Piauí
                  (UESPI); Doutorado em Química (USP); Mestre em Química (USP);e Licenciado em Ciências (UFPI).</p>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/ODERLENE.gif' %}" alt="Márcio Rodrigo de Araújo Souza" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Márcio Rodrigo de Araújo Souza</strong>
                  <p>(Auditor Governamental na Controladoria-Geral do Estado do Piauí
                  onde atua também como Gerente de Controle Interno; Mestre em Ciência Política e Especialista em Gestão Pública (UFPI); Especialista em Orçamento e Contabilidade Pública (CEUT) e Bacharel em Ciências Contábeis (UESC).</p> 
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col">
                  <img src="{% static 'core/img/Fernando.jpg' %}" alt="Fernando de Barros Filgueiras" height=140 style="border-radius: 100px">
                </div>
                <div class="col">
                  <strong>Fernando de Barros Filgueiras</strong>
                  <p>Professor da UFMG; Diretor de Pesquisa e Pós-Graduação Stricto Sensu da Escola Nacional de Administração Pública (ENAP); Doutor em Ciência Política (IUPERJ); Mestre em Ciência Política (IUPERJ); Graduado em Ciências Sociais (UFJF)</p>
                  <strong>Palestra: Compliance e Gestão Pública no Século XXI.</strong> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>

  <section id="schedule" class="text-center wow fadeInUp" style="background: none">
    <div class="container">
      <div class="container-fluid container-full section-title text-center">
        <div class="row">
          <div class="col">
            <h2>Quarta-Feira (02.10)</h2>
            <strong>AUDITÓRIO DO CT</strong>
            <br />
            <br />
            <p>16h às 19h – Credenciamento</p>
            <li>18h – Abertura do Evento</li>
            <li>19h às 20h – Palestra de Abertura</li><!-- 
            <p>Tema Central do Evento: Compliance na Gestão Pública</p>
            <p>Palestrante: Profa. Dra. Oderlene Vieira de Oliveira (Professora da UNIFOR; Doutora em
            Administração de empresas (UNIFOR); Mestre em Administração de Empresas (UNIFOR);
            Bacharel em Ciências Contábeis (UNIFOR); Bacharel em Administração de Empresas
            (UNIFOR).</p> -->
            <p>Palestra: Compliance na Gestão Pública: desafios e reflexões</p>
          </div>
          <div class="col">
            <h2>Quinta-Feira (03.10)</h2>
            <strong>Manhã (CCHL): 8h às 10h – Mesa Temática</strong>
            <strong>Local: Auditório Noé Mendes (CCHL)</strong>
            
            <li>MESA 01: Controle Interno e Externo</li>
            <!-- <p>MEDIADOR:
            - Prof. Dr(a). Monique Menezes (Secretária Municipal da Secretaria Municipal de Concessões
            e Parcerias da Prefeitura de Teresina; Professora da UFPI; Doutora em Ciência Política
            (IUPER); Mestre em Ciência Política (IUPER); MBA Public – Private Partnerships Work:
            Challenges &amp; Opportunities (London School of Economics and Political Sciense); Bacharel
            em Ciências Sociais (UFF)).</p>

            <p>DEBATEDORES:
            - Profa. Dra. Susana Margarida Faustino Jorge (Coordenadora do BSC em Gestão, na
            Faculdade de Economia da Universidade de Coimbra); Phd. em Contabilidade e Finanças
            (Birminghan Business School-Inglaterra); Mestre em Gestão de Negócios (Universidade do
            Minho-Portugal); Licenciada em Gestão e Organização Empresarial (Universidade Coimbra-
            Portugal).
            - Auditor Luís Emílio Xavier dos Passos (Auditor do Tribunal de Contas da União):
            Secretário do TCU/PI ; Diretor da Secretaria de Controle Externo do TCU no Estado do Piauí,
            de 2/2008 a 12/2014; Assessor da Secretaria de Controle Externo do TCU no Estado do Piauí,
            de 4/2007 a 1/2008; Auditor Federal de Controle Externo do Tribunal de Contas da União,
            desde 12/2005; Engenheiro do Departamento Nacional de Infraestrutura de Transportes –
            Dnit, de 12/1995 a 12/2005; Graduado em Engenharia Civil – Universidade de Brasília, 1993.</p> -->

            <strong>INTERVALO</strong>
            <br />

            <strong>Manhã (CCHL): 10:30h às 12:30h – Mesa Temática</strong>
            <strong>Local: Auditório Noé Mendes (CCHL)</strong>
            <li>MESA 02: Compliance Digital</li>

            <!-- <p>MEDIADOR:
            - Prof. Dr. Ricardo de Andrade Lira Rabelo (Professor da UFPI; Doutor em Engenharia
            Elétrica (USP); Bacharel em Ciência da Computação (UFPI))</p>

            <p>DEBATEDORES:
            - João Batista Ribas de Moura (Coordenador da Secretaria Especial de Desburocratização e
            Desestatização em Governo Digital; Analista da Receita; Mestre em Computação Aplicada
            em Gestão de Risco(UNB); Especialista em Gestão de Segurança da Informação e
            Comunicações (UNB); e MBA em Administração Estratégica de Sistemas de Informação
            (FGV)).
            - Alan Soares Viana (Auditor Governamental; Gerente de Tecnologia da Informação da
            Controladoria Geral do Piauí; Bacharel em Ciência da Computação (UFPI)).</p> -->

            <li>12h30min às 14 h – Almoço</li>

            <strong>Tarde (CCHL) - 14 h às 18 h – Mini Cursos (Simultâneos)</strong>
            Local: a definir

            <!-- <table> -->
            <tr><li>1. AVALIAÇÃO DA MATURIDADE DOS PROGRAMAS DE COMPLIANCE
            <!-- Ministrante: a definir.</li></tr> -->

            <tr><li>2. ELABORAÇÃO DO PLANO DE COMPLIANCE
            <!-- Ministrante: Dr. Edilson Correia Alves Lima (Auditor Federal de Finanças e Controle da
            CGU/UFPI; Doutor em Políticas Públicas; Mestre em Políticas Públicas; Graduado em
            Ciências Sociais).</li></tr> -->

            <tr><li>3. BALANCED SCORECARD A SERVIÇO DA GESTÃO PÚBLICA

            <!-- Ministrantes:
            - Adm. Aluysio Ricardo Nunes Fonseca (Administrador e Profissional Liberal; Mestrando em
            Gestão Pública (UFPI); Especialista em Gestão Pública (IFMA); Especialista em MBA
            Governança Tributária (IBPT); Bacharel em Administração (UNIFSA); Bacharel em Sistemas
            de Informação (UFPI).
            - Adm. Rodrigo Ribeiro Costa Cavalcante (Servidor e Chefe do Núcleo de Administração da
            Gerência Regional da ANM no Piauí; Mestrando em Administração (FUCAPE); Especialista
            em Gestão Empresarial (CESVALE); Especialista em Gestão Estratégica em Processo de
            Negócios (PUC).
            - Adm. Rhubens Ewald Moura Ribeiro (Administrador da UFPI; Professor da Faculdade
            Santo Agostinho; Mestre em Administração (UFPE); Bacharel em Administração (UFPE).</li></tr>
            </table> -->
          </div>
          <div class="col">
            <h2>Sexta-Feira (04.10)</h2>
            <strong>Manhã (CCHL) – Apresentação de Trabalhos: Salas a definir</strong>
            <li>8h às 10h - Apresentação de Trabalhos – Comunicação Oral (6 salas com 5 trabalhos);</li>
            <li>10h às 10h30min - Intervalo;</li>
            <li>10h30min às 12h30min - Apresentação de Trabalhos – Comunicação Oral (6 salas com 5
trabalhos);</li>
            <li>12h30min às 14h30min – Almoço;</li>

            <strong>Tarde (CCHL) – 14h30min às 16h30min - Mesas Temáticas Simultâneas</strong>
            <li>MESA 03 – Compliance Público e Responsabilidade do Gestor</li>

            <!-- <p>MEDIADOR:
            - Prof. Dr. Francisco Mesquita de Oliveira (Professor da UFPI; Doutor em Sociologia
            (UFPE); Mestre em Ciência Política (UFPE); Licenciado em História (UNICAP).</p>

            <p>DEBATEDORES:
            - Prof. Dr. Paulo Henrique Gomes de Lima (Reitor do Instituto Federal do Piauí (IFPI);
            Doutor em Geografia (UNESP); Mestre em Desenvolvimento Urbano (UFPE); Especialista
            em Avaliação Educacional (UFPI); Bacharel em Engenharia de Agrimensura (UFPI).
            - Prof. Nouga Cardoso Batista (Reitor da Universidade Estadual do Piauí (UESPI); Doutorado
            em Química (USP); Mestre em Química (USP);e Licenciado em Ciências (UFPI).</p> -->

            <li>MESA 04 – Governança Ética e Responsabilidade Social</li>

            <!-- <p>MEDIADOR:
            - Prof. Dr. Vitor Eduardo Veras de Sandes Feitas (Professor da UFPI; Doutor em Ciência
            Política (UNICAMP); Mestre em Ciência Política (UFPI); Bacharel em Ciências Sociais
            (UFPI).</p>

            <p>DEBATEDORES:
            - Márcio Rodrigo de Araújo Souza (Auditor Governamental na Controladoria-Geral do Estado
            do Piauí onde atua também como Gerente de Controle Interno; Mestre em Ciência Política e
            Especialista em Gestão Pública (UFPI); Especialista em Orçamento e Contabilidade Pública
            (CEUT) e Bacharel em Ciências Contábeis (UESC).
            - Leonino Gomes Rocha (Auditor Federal de Finanças e Controle e Coordenador do Núcleo
            de Ações de Ouvidoria e Prevenção da Controladoria-Geral da União-Regional/CE;
            Doutorando em Estado de Direito e Governança Global; Mestre em Administração;
            Especialista em Controladoria Governamental; Graduado em Engenharia Elétrica (UFC))</p>
 -->
            <li>16h30min às 17h- Intervalo</li>

            <li>17h às 18h- Palestra de Encerramento</li>
            <!-- <p>Palestrante: Fernando de Barros Filgueiras- Professor da UFMG; Diretor de Pesquisa e
            PósGraduação Stricto Sensu da Escola Nacional de Administração Pública (ENAP); Doutor
            em Ciência Política (IUPERJ); Mestre em Ciência Política (IUPERJ); Graduado em Ciências
            Sociais (UFJF)</p> -->
            <p>Tema: Compliance e Gestão Pública no Século XXI.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}